---
layout: default
---
<div class="row">
    <!-- Blog Post Breadcrumbs -->
    {%- include blog_post_breadcrumb.html -%}
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
	    {% for tag in site.tags %}
		    {% assign t = tag | first %}
		    <a href="/{{ site.tag_page_dir }}/{{ t }}/">{{t}}</a> {% unless forloop.last %}&nbsp;{% endunless %}
	    {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% for post in paginator.posts %}
        <div class="card blog-post col-lg-3">
            <img class="card-img-top" src="{{site.url}}{{site.baseurl}}/assets/img/posts/{{ post.thumbnail }}" alt="{{ post.title }}">
            <div class="card-body center">
				<a href="{{ post.url | prepend: site.baseurl }}" class="card-title"><h4>{{ post.title }}</h4></a>
                <p class="card-text">{{ post.summary }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row center">
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-sm">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
        {% endif %}

        <li><a href="/">First</a></li>

        {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
        <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
        <li><a href="/">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %} {% endfor %}

        <li><a href="/page/{{ paginator.total_pages }}/">Last</a></li>

        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
