---
layout: default
---
<div class="row">
    <!-- Blog Post Breadcrumbs -->
    {%- include project_tag_breadcrumb.html -%}
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div>
               {% for tag in site.tags %} {% assign t = tag | first %}
                <a href="/project_tags/{{ t }}/">{{t}}</a> {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% assign posts = site.tags[page.tag] %}
        {% for post in posts %}
        <div class="card blog-post col-lg-3">
            <img class="card-img-top" src="{{site.url}}{{site.baseurl}}/assets/img/posts/{{ post.thumbnail }}" alt="{{ post.title }}">
            <div class="card-body center">
                <a href="{{ post.url | prepend: site.baseurl }}" class="card-title"><h4>{{ post.title }}</h4></a>
                <p class="card-text">{{ post.summary }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
